@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p class="mt-3">We are teaching from the youngest to the oldest, where age doesn't matters.</p>

    <p>We have segregated the batches into Kids batch, Childrens Batch and Adults Batch with respective time allotments.</p>

    <p>Online classes are also available.</p>
    <p>Styles - Hip Hop,Western, Lyrical, Folk,Contemporary and Tap Dance</p>

    <p> We Take up the students passion to the next level as an encouragement through Movies, Reality Shows, Events and Competition.</p>
    </p>
</main>