@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        No. 777<br />
        Empire Building, Chennai<br />
        <abbr title="Contact Directly">Phone:</abbr>
        007.007.007
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">rajacademy@dance.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">rajstudio@dance.com</a>
    </address>
</main>